.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  .login__image-container {
  }
  .login__content {
  }
}

//Photo by <a href="https://unsplash.com/@oladimeg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Oladimeji Odunsi</a> on <a href="https://unsplash.com/s/photos/african-american-woman?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
